<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>3.1.1 Simple.</strong></h2>
    <h3 align="right"><a href="/users/c1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/c1-2"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p> En algún momento dentro de nuestros algoritmos, es preciso cambiar el flujo de <strong> ejecución de las instrucciones </strong>, 
        es decir, el orden en que las instrucciones son ejecutadas. Muchas de las veces tenemos que tomar una decisión en cuanto 
        a que se debe ejecutar basándonos en una respuesta de verdadero o falso (condicional).   La ejecución de las instrucciones, 
        incluyendo una estructura de control como el condicional funcionan de esta manera:   </p>
    <p>Las estructuras de control simple es cuando 
        sólo se requiere de una sola estructura o una sola pregunta. Su sintaxis es la palabra Si, seguida de una pregunta o condición 
        (la cual va encerrada en medio de paréntesis), y por último si la condición es verdadera se ejecuta la siguiente sentencia que 
        se encuentra después de la condición, o se ejecuta el bloque de sentencias que se encuentran después de la condición, siempre y 
        cuando estén encerradas entre llaves. Sabemos que un bloque de sentencias forzosamente están encerradas entre llaves, y estas se 
        ejecutan juntas dentro de un ciclo condicional, así como todo algoritmo tiene su fin, todas las estructuras de decisión terminan 
        o tiene su fin, con la llave final del bloque de sentencias</p>
    </div>
    <div class="image"><img src="/css/images/if.jpg" width="380" height="257"/></div>
</body>
</html>