<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>3.1.2 Ramificada.</strong></h2>
    <h3 align="right"><a href="/users/c1-1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/c2"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        El switch es una estructura de decisión múltiple, que permite elegir ejecutar diferentes códigos dependiendo de un valor. 
        En forma ocasional, un algoritmo tendrá una serie de decisiones, en las cuales una variable o expresión se probará por separado 
        contra cada uno de los valores (constantes enteros) que pueda asumir, y se tomarán diferentes acciones. Para esta forma de toma 
        de decisiones se proporciona una estructura de selección múltiple switch..case. La estructura switch está formada de una serie de 
        etiquetas case, y de un caso opcional default.  
    </div>
    <div class="scroll">
    <pre class="prettyprint linenums:1"><code class="language-c">
    switch (variable)  {
         case valor1:  
            sentencia1;                    
            sentenciaN;      
            break;         
         case valor2: 
            sentencia1;                     
            sentenciaN;     
            break;         
         case valorN: 
            sentencia1;                   
            sentenciaN;     
            break;         
         default: 
            sentencia1;           
            sentenciaN;           
            break;  
        };
    </code></pre></div>
</body>
</html>