<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>3.1 Estructuras de decisión.</strong></h2>
    <h3 align="right"><a href="/users/practicas3"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/c1-1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p> En programación tenemos tres tipos de estructuras de decisión: </p>
        <ol>
           <li><strong> If: </strong> Evaluamos una condición e indicamos que se debe hacer en caso que la condición se cumpla, 
           si hay huevos(condición) comprar tres(acción que se debe realizar si la condición se cumple). 
           Se pueden tener muchos if en un código, incluso if dentro de otros (se llaman ifs anidados).</li>
        
           <li><strong> If – Else:</strong> Realizamos el mismo proceso que en el If sin embargo se indica en el Else que se 
           debe hacer si la condición evaluada no se cumple, si hay huevos(condición) comprar tres(acción 
           a realizar si la condición se cumple) sino(Else) comprar carne(acción a realizar si la condición 
           evaluada no se cumplió). </li>
        
           <li><strong> Switch: </strong> Se evalua una expresión entera y de acuerdo al valor se hacen ciertas acciones, podemos 
           decir que son como muchos if pero tienen una presentación más agradable, por ejemplo Se evalua la varible 
           edad si es 1 hacer esto, si es 2 esto y así sucesivamente.</li>
        </ol>
        <div class="image"><img src="/css/images/else.jpg" width="120" height="90"/></div>
    </div>
</body>
</html>