<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>3.2.2 Contador y acumuladores.</strong></h2>
    <h3 align="right"><a href="/users/c2-1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/c3"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p><strong> Contadores </strong></p>

         <p> En la programación existen procesos que se repiten y es necesario tener un control sobre el número de veces que se van ejecutando.
         Cuando el número de veces que se repetirá el proceso es determinado (conocemos de antemano cuántas veces se repetirá) se utilizará un contador.
         La construcción de un contador es una de las técnicas más comunes en la realización de diagramas de flujo.
         Es una variable en la memoria que se incrementará en una unidad cada vez que se ejecute el proceso.
         En las instrucciones de preparación se realiza la inicialización del contador o contadores. La inicialización consiste en poner el valor inicial de la variable que representa al contador. Generalmente se inicializa con el valor 0.
         El contador también se utiliza para llevar la cuenta de determinadas acciones que se pueden solicitar durante la resolución de un problema.
        </p>
        <p> <strong> Acumuladores </strong> <br> <br>
         Un acumulador  es una variable en la memoria cuya misión es almacenar cantidades variables. Se utiliza para efectuar sumas sucesivas. 
         La principal diferencia con el contador es que el incremento o decremento de cada suma es variable en lugar de constante como en el caso 
         del contador.</p>
    </div>
</body>
</html>