<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>3.2 Estructuras de iteración.</strong></h2>
    <h3 align="right"><a href="/users/c1-2"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/c2-1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p> Se trata de una estructura que permite ejecutar una acción ( o una serie de acciones ) en forma iterativa. 
        De acuerdo a la forma en que se controla dicha iteración, esto es, cuántas veces se van a ejecutar las acciones 
        que forman el ciclo se tienen tres formas de implementación. Estas son: </p>
        <ul>
          <li> mientras-hacer</li>
          <li>repetir-hasta que</li>
          <li>para-hacer</li>
        </ul>
        
        <p>La forma genérica para la primera es mientras B hacer A donde B es una proposición lógica y A es una acción simple o compuesta. 
        B tiene como valor verdadero o falso. En tanto B sea verdadera se ejecutará la acción A. Cuando B sea falsa ya no se ejecuta otra 
        vez y se sale de la estructura para ejecutar la acción que se indique a continuación. Según el valor de verdad inicial de B, la 
        acción A puede ejecutarse 0 ó más veces. El diagrama lógico correspondiente es el siguiente:</p>
    </div>
    <div class="image"><img src="/css/images/rep.jpg" width="200" height="390"/></div>
     
</body>
</html>