<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>3.3.1 Ruptura de un lazo.</strong></h2>
    <h3 align="right"><a href="/users/c3"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/unidad4"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        
        <p>
        La ruptura de un lazo no es más que la manera más alternativa de salirde una estructura de iteración, 
        ya que al hacer esta (la de iteración) ejecuciónesta pudiera ser infinita, porque la misma palabra lo dice, 
        es una secuenciarepetitiva y para salir de ese lazo existen sentencias como lo son el: </p> 
        
        </p><strong>BREAK oRETURN, CONTINUE y GOTO.</strong></p>
        
       </p><strong>SENTENCIA BREAK:</strong>El break, ya brevemente descrito con el SWITCH, sirve también paraterminar los producidos por WHILE, DO-WHILE y FOR
         antes que se cumpla lacondición normal de terminación.</p>
         
        </p><strong>SENTENCIA CONTINUE:</strong>La sentencia CONTINUE es similar al BREAK con la diferencia que envez de terminar violentamente un loop, 
         termina con la realización de unaiteración particular y permitiendo al programa continuar con la siguiente.</p>
         
        </p><strong>SENTENCIA GOTO:</strong>El uso GOTO implica un salto incondicional de un lugar a otro delprograma. Esta práctica hace que los 
         programas sean muy difíciles de corregiró mantener.</p>
    </div>
</body>
</html>