<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>3.3 Estructuras de control.</strong></h2>
    <h3 align="right"><a href="/users/c2-2"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/c3-1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p> En lenguajes de programación, las estructuras de control permiten modificar el flujo de ejecución de las instrucciones de un programa.
          <br>  <strong> Con las estructuras de control se puede: </strong> </p>
        <ul>
        <li>De acuerdo con una condición, ejecutar un grupo u otro de sentencias (If() Else)</li>
        <li>Ejecutar un grupo de sentencias solo cuando se cumpla una condición (While)</li>
        <li>Ejecutar un grupo de sentencias hasta que se cumpla una condición (Do While)</li>
        <li>Ejecutar un grupo de sentencias un número determinado de veces (For())</li>
        <li>De acuerdo con el valor de una variable, ejecutar un grupo u otro de sentencias (Switch-Case)</li>
        </ul>

        <p> Todas las estructuras de control tienen un único punto de entrada. Las estructuras de control se pueden clasificar en: secuenciales, 
        iterativas y de control avanzadas.</p>
        
        <p>Los lenguajes de programación modernos tienen estructuras de control similares. 
        Básicamente lo que varía entre las estructuras de control de los diferentes lenguajes es su sintaxis; cada lenguaje tiene 
        una sintaxis propia para expresar la estructura.</p>
    </div>
</body>
</html>