<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>2.1. Estructura general de un programa.</strong></h2>
    <h3 align="right"><a href="/users/practicas2"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/b2"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        
        <p>Un programa esta conformado por una <strong>secuencia de acciones</strong> (instrucciones) que <strong>manipulan un conjunto de objetos</strong> (datos).</p>

        <p>Existen dos partes o bloques que componen un programa:</p>
        <ol>
            <li>Bloque de <strong>declaraciones:</strong> en este se detallan todos los objetos que utiliza el programa (constantes, variables, archivos, etc).</li>
            <li>Bloque de <strong>instrucciones:</strong> conjunto de acciones u operaciones que se han de llevar a cabo para conseguir los resultados esperados.</li>
        </ol>
    
        <p>El bloque de instrucciones está compuesto a su vez por tres partes, aunque en ocasiones no están perfectamente delimitadas, y aparecerán entremezcladas en la secuencia del programa, podemos localizarlas según su función. Estas son:</p>
        <ol>
          <li><strong>Entrada de datos:</strong> instrucciones que almacenan en la memoria interna datos procedentes de un dispositivo externo.</li>
          <li><strong>Proceso o algoritmo:</strong> instrucciones que modifican los objetos de entrada y, en ocasiones, creando otros nuevos.</li>
         <li> <strong>Salida de resultados:</strong>conjunto de instrucciones que toman los datos finales de la memoria interna y los envían a los dispositivos externos.</li>
        </ol>
        <p><strong>Partes del bloque de instrucciones</strong></p>
        <table id="customers">
            <tr>
               <th><strong>Entrada</strong></th>
               <th><strong>Algoritmo</strong></th>
               <th><strong>Salida</strong></th>
            </tr>
            <tr>
               <td>Inicio de programa: datos</td>
               <td>Proceso de programa: cálculos</td>
               <td>Fin de programa: resultados</td>
            </tr>
        </table>
        <p>La siguiente tabla detalla la estructura básica de un programa informático:</p>
        <table id="customers">
            <tr>
               <td><strong>Cabecera</strong></td>
               <td>
                   <ul>
                   <li>Nombre del programa</li>
                   <li>Datos de entrada</li>
                   <li>Datos de salida</li>
                   </ul>
                </td>
            </tr>
            <tr>
                <td><strong>Funciones</strong></td>
                <td>
                    Definición de funciones propias creadas por el programador para usarlas en varias ocasiones
                 </td>
            </tr>
            <tr>
                <td><strong>Declaraciones</strong></td>
                <td>
                    Definiciones y tipos de:
                    <ul>
                    <li>Varables</li>
                    <li>Constantes</li>
                    <li>Nuevos tipos de datos</li>
                    </ul>
                 </td>
            </tr>
            <tr>
                <td><strong>Asignaciones</strong></td>
                <td>
                    Valores iniciales de los identificadores declarados previamente
                </td>
            </tr>
            <tr>
                <td><strong>Entradas</strong></td>
                <td>
                    Instrucciones para almacenar en memoria los valores de algunos identificadores
                </td>
            </tr>
            <tr>
                <td><strong>Control</strong></td>
                <td>
                    Instrucciones de control de flujo del programa. Pueden ser:
                    <ul>
                        <li>Repetitivas</li>
                        <li>Alternativas</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><strong>Salidas</strong></td>
                <td>
                    Instrucciones para devolver los resultados obtenidos
                </td>
            </tr>
        </table>
        
    </div>
</body>
</html>