<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
   <h2><strong>2.2.1 Tamaños, declaración, modificadores.</strong></h2>
   <h3 align="right"><a href="/users/b2"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/b2-2"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">

        <p>Para saber el tamaño de los tipos de datos en C tenemos un operador incorporado sizeof que nos permite conocer el tamaño en bytes. En los tipos de datos básicos tenemos por definición que el tipo char tiene un tamaño de 1 byte (C define el tamaño de 1 byte en términos de char). Para otros tipos de datos básicos su tamaño puede variar entre diferentes arquitecturas.</p>
        <table id="customers">
            <tr>
                <td>Tipo de dato</td>
                <td>Representación</td>
                <td>Tamaño (Bytes)</td>
                <td>Rango de Valores</td>
            </tr>
            <tr>
                <td>byte</td>
                <td>Numérico Entero con signo</td>
                <td>1</td>
                <td>-128 a 127</td>
            </tr>
            <tr>
                <td>short</td>
                <td>Numérico Entero con signo</td>
                <td>2</td>
                <td>-32.768 a 32.767</td>
            </tr>
            <tr>
                <td>int</td>
                <td>Numérico Entero con signo</td>
                <td>4</td>
                <td>-2147483648 a 2147483647</td>
            </tr>
            <tr>
                <td>long</td>
                <td>Numérico Entero con signo</td>
                <td>8</td>
                <td>-9223372036854775808 a 9223372036854775807</td>
            </tr>
            <tr>
               <td>float</td>
               <td>Numérico en Coma flotante de precisión simple Norma IEEE 754</td>
               <td>4</td>
               <td>± 3.4x10-38 a ± 3.4x1038</td>
            </tr>
            <tr>
               <td>double</td>
               <td>Numérico en Coma flotante de precisión doble Norma IEEE 754</td>
               <td>8</td>
               <td>± 1.8x10-308 a ± 1.8x10308</td>
            </tr>
            <tr>
               <td>char</td>
               <td>Carácter Unicode</td>
               <td>2</td>
               <td>u0000 a uFFFF</td>
            </tr>
            <tr>
               <td>boolean	</td>
               <td>Dato lógico</td>
               <td>-</td>
               <td>true ó false</td>
            </tr>
       </table>
    </div>
</body>
</html>