<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
   <h2><strong>2.2.2 Operadores Lógicos, aritméticos y de asignación.</strong></h2>
   <h3 align="right"><a href="/users/b2-1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/b3"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
         <p>Un operador es un símbolo que le dice al compilador que realice funciones matemáticas o lógicas específicas. El lenguaje C es rico en operadores integrados y proporciona los siguientes tipos de operadores:</p>
    
         <p><strong> Operadores Aritméticos </strong></p>
         <ul>
         <li>Suma +</li>
         <li>Resta -</li>
         <li>Multiplicación *</li>
         <li>División /</li>
         <li>Resto de la División %</li>
         <li>Operadores de Asignación</li>
         </ul>
         
         <p><strong> Operadores de Asignación</strong></p>
         <ul>
         <li> op1 += op2 ó op1 = op1 + op2  </li>
         <li> '-=' : op1 -= op2 ó op1 = op1 - op2</li>
         <li> '*=' : op1 *= op2 ó op1 = op1 * op2</li>
         <li> '/=' : op1 /= op2 ó op1 = op1 / op2</li>
         <li> '%=' : op1 %= op2 ó op1 = op1 % op2</li>
         </ul>

         <p><strong> Operadores Incrementales </strong></p>
         <ul>
         <li>'++' : incrementa </li>
         <li>'--' : disminuye </li>
         </ul>
         
         <p><strong> Operadores Relacionales </strong></p>
         <ul>
         <li> '<': Menor que</li>
         <li> '==': Iguales</li>
         <li> '¡=': Distintos</li>
         <li> '>=': Mayor o igual que</li>
         <li> '<=': Menor o igual que</li>
         </ul>
         
         <p><strong>Operadores Lógicos</strong></p> 
         <ul>  
         <li>'||' : devuelve true si alguno de los operandos son true.</li>
         <li>'!' : Niega el operando que se le pasa.</li>
         <li>'&' : devuelve true si ambos operandos son true, evaluándolos ambos.</li>
         </ul>     
    
    </div>

</body>
</html>