<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
   <h2><strong>2.2. Tipos de datos y operadores.</strong></h2>
   <h3 align="right"><a href="/users/b1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/b2-1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p><strong>Los tipos de datos</strong> son conjuntos de elementos definidos por características de los valores requeridos en la solución de un problema que deberán ser declarados en la estructura del programa</p>
        
        <p><strong>Tipos de Datos Primitivos</strong></p>
        <p>Un tipo de dato primitivo es la definición de un grupo de valores y de las operaciones que se que existen para trabajar con ellos. 
            Se conocen en Java también como tipos envoltorio o wrapper.</p>

        <p><strong>Datos Tipo Objeto en C</strong></p>

        <p> Los datos tipo objeto en esencia define el tipo de datos a almacernar al igual que los primitivos, su diferencia es que los tipos de datos tiene asociados métodos de operaciones básicas y se declaran similar que los primitivos inicializados por letra mayúscula, y para el caso de enteros y carácter cambia de int a Integer y char a Character:
        <br><br> Byte, Short, Integer, Long, Float, Double, Character, Boolean
        <br><br> Luego de la declaración de las variable de tipos de dato Objeto, los métodos se puede obtener digitando el nombre de la variable seguida de punto, que genera las opciones. 
        En esta categoría se incluye también los tipos de finidos por el usuario a partir de clases creadas (Ej. conjuntos, beneficiarios, etc.), Arrays y las bibliotecas (Ej. Scanner, Array List, etc.)</p>
                    
            
        
   </div>
</body>
</html>