<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
   <h2><strong>2.3.2 Funciones matemáticas.</strong></h2>
   <h3 align="right"><a href="/users/b3-1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/b4"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p>El lenguaje C nos facilita una biblioteca de funciones matemáticas entre las que se incluyen las de uso
        más habitual como pueden ser: valor absoluto, potencia de un número elevado a otro, raíz cuadrada,
        funciones trigonométricas (seno, coseno, tangente, etc.), redondeo, exponenciación, logaritmo
        decimal, logaritmo neperiano y otras. 
        Para utilizar las funciones matemáticas indicadas a continuación es necesario incluir en la cabecera de
        nuestros programas la siguiente declaración: #include &lt;math.h&gt;</p>
       
        <p>El resultado de aplicar una función matemática es un valor numérico de tipo double (aunque el
        resultado puede ser un valor entero, internamente C lo considerará como un valor tipo decimal de
        doble precisión o tipo double)</p>
        <p><strong>funciones disponibles de uso más habitual son las siguientes:</strong>  </p>

        <table id="customers">
            <tr>
                <td>Funciones Matemáticas</td>
                <td>Significado</td>
                <td>Funciones Matemáticas</td>
                <td>Significado</td>
            </tr>
            <tr>
                <td>fabs (x) </td>
                <td>Valor absoluto de x</td>
                <td>ceil (x)</td>
                <td>Redondeo entero superior</td>
            </tr>
            <tr>
                <td>pow (x, y)</td>
                <td>Potencia de x elevado a y</td>
                <td>floor (x)</td>
                <td>Redondeo entero inferior</td>
            </tr>
            <tr>
                <td>sqrt (x)  </td>
                <td>Raíz cuadrada de x</td>
                <td>exp (x)</td>
                <td>Exponenciación (número e elevadoa x)</td>
            </tr>
            <tr>
                <td>sin (x) </td>
                <td>Seno de x</td>
                <td>log (x)</td>
                <td>Logaritmo neperiano de x </td>
            </tr>
            <tr>
                <td>cos (x)</td>
                <td>Coseno de x</td>
                <td>log10 (x)</td>
                <td>Logaritmo decimal de x </td>
            </tr>
            <tr>
                <td>tan (x)</td>
                <td>Tangente de x</td>
                <td>atan (x)</td>
                <td>Arcotangente de x</td>
            </tr>
       </table>
    
    </div>
</body>
</html>