<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
   <h2><strong>2.3 Funciones de biblioteca.</strong></h2>
   <h3 align="right"><a href="/users/b2-2"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/b3-1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p> En C++, <strong> se conoce como librerías </strong> (o bibliotecas) a cierto tipo de archivos que podemos importar o incluir en nuestro programa. 
        Estos archivos contienen las especificaciones de diferentes funcionalidades ya construidas y utilizables que podremos agregar a 
        nuestro programa, como por ejemplo leer del teclado o mostrar algo por pantalla entre muchas otras más.</p>

        <p>Al poder incluir estas librerías con definiciones de diferentes funcionalidades podremos ahorrarnos gran cantidad de cosas, 
        imaginemos por ejemplo que cada vez que necesitemos leer por teclado, debamos entonces crear una función que lo haga (algo realmente 
        complejo), al poder contar con las librerías en C++, podremos hacer uso de una gran variedad de funciones que nos facilitaran la vida 
        y aumentarán la modularidad de nuestros códigos.</p> <br><br>

        <table id="customers">
            <tr>
               <th><strong>Nombre de Bilioteca</strong></th>
               <th><strong>Descripción</strong></th></tr>
            <tr>
               <td>assert.h</td>
               <td>Proporciona una definicion de la macro assert, que imprime un mensaje de error y aborta el programa.</td></tr>
            <tr>
               <td>alloc.h</td>
               <td>Tiene funciones para asignar, liberar memoria y obtener información de bloques de memoria.</td></tr>
            <tr>
                <td>ctype.h</td>
                <td>Son funciones que nos permiten conocer la naturaleza de un caracter, o bien para convertir de mayusculas a minúsculas o valores enteros a codigo ASCII.</td></tr>
            <tr>
                <td>dir.h</td>
                <td>Ésto permite ordenar, crear, modificar, mover y eliminar directorios.</td></tr>
            <tr>
                <td>errno.h</td>
                <td>Representa los números de error, despues que ocurre un error se puede consultar el valor de la variante del sistema. </td></tr>
            <tr>
                <td>float.h</td>
                <td>Define los límites de los tipos de coma flotante.</td></tr>
            <tr>
                <td>limits.h</td>
                <td>Define los límites de los diferentes tipos de enteros</td></tr>
            <tr>
                <td>math.h</td>
                <td>Contiene las funciones matemáticas estándar utilizadas en C y C++</td></tr>
            <tr>
                <td>setjmp.h</td>
                <td>Define el tipo de jmp_buf para algunas funciones.</td></tr>
            <tr>
                <td>signal.h </td>
                <td>Contiene funciones de estado.</td></tr>
            <tr>
                <td>stdarg.h</td>
                <td>Define funciones que pueden ser llamadas con diferentes números de argumentos, de modo que se pueda escribir f(a) y f(a,b).</td></tr>
            <tr>
                <td>stdef.h</td>
                <td>Se definen algunos tipos especiales.</td></tr>
            <tr>
                <td>stdio.h</td>
                <td>Incorporan las funciones de Entrada - Salida E/S estándar, tipos y macros.</td></tr>
            <tr>
                <td>stlib.h</td>
                <td>Declara funciones que son útiles para diferentes propósitos, en especial de búsqueda y ordenación.</td>
            </tr>
            <tr>
                <td>string.h</td>
                <td>Este archivo contiene funciones para manejo de cadenas de caracteres.</td></tr>
            <tr>
                <td>time.h</td>
                <td>Contiene funciones relativas a fechas y horas</td>
            </tr>
        </table>
    </div>
</body>
</html>