<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">

</head>

<body>
   <h2><strong>2.4 Funciones generadas por el usuario.</strong></h2>
   <h3 align="right"><a href="/users/b3-2"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/b4-1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p> Las funciones se declaran y se definen exactamente igual que en C, y, al igual que en éste, se puede utilizar prototipo (prototype).</p>
        <p><strong>Prototipos</strong></p>
        <p>La declaracion de una funcion es el prototipo. El prototipo da un modelo de la interface a la funcion. Ejemplo:</p>
    </div>
    <div class="scroll">
        <pre class="prettyprint linenums:1"><code class="language-c">
        # include &lt;iostream.h&gt;
        void haz_algo (int alas, float pies, char ojos);
        main() {
        int ala = 2;
        float pie = 1000.0;
        char ojo = 2;
        haz_algo (3, 12.0, 4);
        haz_algo (ala, pie, ojo);
        }
        void haz_algo (int alas, float pies, char ojos) {
        cout &lt;&lt; 'Hay ' &lt;&lt; alas &lt;&lt; 'alas.' &lt;&lt; 'n';
        cout &lt;&lt; 'Hay ' &lt;&lt; pies &lt;&lt; 'pies. ' &lt;&lt; 'n';
        cout &lt;&lt; 'Hay ' &lt;&lt; int(ojos) &lt; 'ojos.' &lt; 'n';
        }
    </code></pre></div>
</body>
</html>