<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
<h2><strong>PRÁCTICAS</strong></h2>
<h2><strong>UNIDAD II</strong></h2>
<h3 align="right"><a href="/users/rub2"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/b1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
<p>&nbsp;</p>
<div class="div-texto">
<p><strong>Relación de prácticas de la Unidad II Fundamentos de programación estructurada</strong></p>
<p>&nbsp;</p>
<p><strong>Práctica 4.</strong> Entrada y salida por consola<br />
</p>
<p> <strong>Práctica 5.</strong> Operaciones básicas </p>
<p><strong>Práctica 6.</strong> Funciones matemáticas </p>
<p>&nbsp;</p>
<p><strong>Reporte de práctica</strong></p>
<p>El Reporte de las prácticas deberá incluir:</p>
<ol>
  <li> <em>Portada</em>.</li>
  <li> <em>Introducción</em> (Marco teórico).<br />
  </li>
  <li><em>Planteamiento del problema</em>.<br />
  </li>
  <li><em>Algoritmos</em> (Descripción de la abstracción del problema y el algoritmo que da solución, apoyándose de pseudocódigo, diagramas y figuras).<br />
  </li>
  <li><em>Implementación de los algoritmos</em> (De acuerdo con los algoritmos utilizados en la implementación del código en el lenguaje de programación ANSI C).<br />
  </li>
  <li><em>Resultados  Experimentales</em> (Actividades, verificación de la solución, pruebas y resultados de la práctica según lo solicitado).<br />
  </li>
  <li><em>Errores detectados</em> (Si existe algún error detectado, el cuál no fue posible resolver o se desconoce el motivo y solo ocurre con ciertas condiciones es necesario describirlo).<br />
  </li>
  <li><em>Posibles mejoras</em> (Describir posibles disminuciones de código en la implementación o otras posibles soluciones).</li>
  <li><em>Plataforma experimental</em> (Características del hardware, compilador, sistema operativo, entorno controlado, etc.)</li>
  <li><em>Graficación de las funciones </em>(Análisis detallado de la cantidad de tiempo y espacio    que consumen los algoritmos estudiados si se están considerando  implementaciones específicas)<br />
  </li>
  <li><em>Tiempos de  CPU o tiempos de ejecución </em>(Estimación del número
    real de segundos que un programa tardará en el peor caso o el  caso promedio). <br />
  </li>
  <li><em>Conclusiones</em>.<br />
  </li>
  <li><em>Anexo </em>(Códigos fuente  de funciones y algoritmos e instrucciones de compilación).<br />
  </li>
  <li><em>Bibliografía</em> (En formato IEEE o APA).</li>
</ol>
<p>&nbsp;</p>
<p><strong>Valor 10%</strong></p>
</div>

</body>
</html>