<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>Práctica 1. Laboratorio de computación.</strong></h2>
    <h3 align="right"><a href="/users/practice"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/p2"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
      <h3><strong>Objetivo Específico: Conocer los aspectos fundamentales de un laboratorio de computación.  </strong></h3>
     

      <p> Un <strong>laboratorio de computación</strong> esta compuesto por un grupo de computadoras que generalmente están conectadas en red y disponibles 
      para el público o estudiantes. Los laboratorios se encuentran con frecuencia en edificios públicos como bibliotecas, escuelas como 
       y universidades, centros comunitarios y algunas iglesias grandes que tienen muchos feligreses. Casi todos los laboratorios 
       de computación ofrecen a los usuarios acceso a Internet y proporcionan software que los estudiantes pueden usar para investigar 
       y completar sus tareas o que otros, como los hombres de negocios que viajan, pueden necesitar para otros fines.</p>

      <p>Existe la necesidad de protección y restricciones dentro de las redes disponibles para el público. A los usuarios se les puede negar 
      el acceso a sitios web con contenido para adultos o sitios que exigen demasiado ancho de banda. Aquellos que usan un laboratorio 
       computación también suelen tener un tiempo limitado para iniciar sesión en una máquina, ya sea navegando por Internet o usando 
       software para hacer otro trabajo. Rara vez hay un cargo por usar un laboratorio de computación público, pero los laboratorios 
       en las instalaciones educativas tienden a estar disponibles solo para los estudiantes actuales de la escuela, y generalmente 
       deben registrarse para que sus actividades puedan ser rastreadas y monitoreadas si es necesario.</p>
      
      
      <p>Otro hardware como impresoras y, a veces, escáneres, unidades de disco compacto (CD) y unidades de disco versátil digital (DVD) 
      también están disponibles sin cargo o por una tarifa nominal. Los audífonos también se pueden proporcionar gratuitamente a los 
      usuarios que visitan sitios con archivos de sonido o video que necesitan ser reproducidos o usuarios que simplemente desean 
      disfrutar viendo una película o escuchando música mientras trabajan. Los archivos creados por los visitantes de un laboratorio 
      de computación generalmente se pueden almacenar en una unidad de bus serie universal (USB), también conocida como unidad de salto, 
      memoria USB o memoria USB, para que puedan llevarse su trabajo con ellos.</p>
      
      
      <p>Los administradores casi siempre están muy preocupados por la seguridad dentro de un laboratorio de computación que está 
      abierto al público. El software antivirus para proteger contra códigos maliciosos y los programas que permiten a los administradores 
      y monitores de laboratorio tomar el control remoto de una máquina de inmediato se instalan y actualizan regularmente para que la red 
      sea segura para todos los usuarios y sus archivos. Aunque la mayoría de los laboratorios de computación se ejecutan en un sistema 
      operativo Microsoft Windows®, algunos laboratorios, particularmente aquellos en instalaciones educativas, se ejecutan en una 
      distribución de Linux, como Fedora, Ubuntu o Debian.</p>
    </div>
</body>
</html>