<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>Práctica 14. Proyecto final.</strong></h2>
    <h3 align="right"><a href="/users/p13"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/practice"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">

      
    </div>
</body>
</html>