<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>Práctica 9. Sentencias de iteración.</strong></h2>
    <h3 align="right"><a href="/users/p8"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/p10"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <h3><strong>Objetivo Específico: Usar una sentencia de iteración y establecer una condición de salida.</strong></h3>
         <p>La sentencia for nos permite hacer un número finito de repeticiones a un proceso dentro del algoritmo. Se ocupa regularmente en problemas matemáticos en donde se tiene que repetir muchas veces una operación.</p>
        <p>A continuación un ejemplo de cómo aplicar la sentencia for para la serie de Fibonacci.</p>
    </div>
    <div class="scroll-p">
        <pre class="prettyprint linenums:1"><code class="language-c">
  #include &lt;iostream.h&gt;
  using namespace std;

  void fibonacci(int);

  int main(void)
  {
    //Hacer un programa que imprima la serie fibonacci dando un numero de iteracion.
    int x;
    cout&lt;&lt;"Hasta que numero de iteración quieres que llegue la serie fibonacci: ";
    cin&gt;&gt;x;
    fibonacci(x);
    return 0;
  }
  void fibonacci(int x){
    int a=0,b=1,r=1;
    cout&lt;&lt;a&lt;&lt;", ";
    for(int i=0;i&lt;x;i++)
    {
       cout&lt;&lt;r&lt;&lt;", ";
       r=a+b;
       a=b;
       b=r;
    }
 }
  </code></pre></div>
  <div class="div-texto">
    <p>En prácticas posteriores veremos cómo se puede aplicar la sentencia for para recorrer un arreglo unidimensional o bidimensional. 
        Se tiene que tener en cuenta que esta sentencia es muy útil cuando se conoce un límite de parada para el ciclo.</p>
    <p>Aquí se muestra una captura de pantalla del resultado en consola del algoritmo para imprimir la serie Fibonacci:</p>
    <div class="image"><img src="/css/images/salida6.jpg" width="700" height="200"/></div>
 </div>
</body>
</html>