<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>5.1 Análisis del problema y elaboración del algoritmo.</strong></h2>
    <h3 align="right"><a href="/users/practicas5"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/e2"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
      
    </p>La programación nació para resolver una necesidad o un problema, lo que ha ocasionado que a lo largo de los años 
    se hayan ido implementando protocolos y métodos con los que fuera fácil llegar a un resultado optimo. En este capítulo 
    hablaremos sobre que es un algoritmo y cómo enfocarlo a resolver un problema.</p> 
    <p>Algunos puntos importantes que se tienen que tener en cuenta a la hora de desarrollar un algoritmo que de solución a un problema
        son los siguientes:
    </p>
      <ul>
      <li>Definición o análisis del problema: consiste en el estudio detallado del problema. Se debe identificar los datos de entrada, de salida y la descripción del problema.</li>
      <li>Diseño del algoritmo: que describe la secuencia ordenada de pasos que conduce a la solución de un problema dado: algoritmo.</li>
      <li>Transformación del algoritmo en un programa (codificación): Se expresa el algoritmo como un programa en un lenguaje de programación.</li>
      <li>Ejecución y validación del programa.</li>
      </ul>



      <p> Tenemos que entender y comprender la naturaleza del problema, tenemos que dominar los conceptos con 
      los que estamos trabajando y conocer que operaciones hay que realizar para dar solucionar al problema y obtener un producto optimo.
      <br> <strong> Por lo tanto es importante tomar en cuenta estos puntos: </strong></p>
      <ul>
      <li></li>Especificación de los datos de entrada: Hay que determinar que datos de entrada necesitamos para resolver el problema.</li>
      <li></li>Especificación de los datos de salida: También hay que determinar los datos de salida que van a ofrecer la solución del problema.</li></ul>

      

      <p><strong> Las características de los algoritmos son: </strong></p>
      <ul>
    <li>Un algoritmo debe ser preciso e indicar el orden de realización de cada paso.</li>
    <li>Un algoritmo debe estar definido. Si se sigue un algoritmo dos veces, se debe obtener el mismo resultado cada vez.</li>
    <li>Un algoritmo debe ser finito. Si se sigue un algoritmo, se debe terminar en algún momento; o sea, debe tener un número finito de pasos.</li>
    <li>Un diagrama de flujo es una de las técnicas de representación gráfica de algoritmos más antiguas. Ventajas: permite altos niveles 
      de estructuración y modularización y es fácil de usar. Desventajas: son difíciles de actualizar y se complican cuando el algoritmo es 
      grande.</li>
    <li>El pseudocódigo, nos permite una aproximación del algoritmo al lenguaje natural y por tanto un a redacción rápida del mismo.</li>
    </ul>
    </div>
</body>
</html>