<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>5.2 Codificación e implementación.</strong></h2>
    <h3 align="right"><a href="/users/e1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/e3"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p> Para codificar un algoritmo hay que conocer la sintaxis del lenguaje al que se va atraducir. Sin embargo, 
        independientemente del lenguaje de programación en queesté escrito un programa, será su algoritmo el que determine su lógica. </p>
        
        <p> La lógica de un programa establece cuáles son sus acciones y en qué orden se debenejecutar.  Por  tanto,  es  conveniente  que  
        todo  programador  aprenda  a  diseñaralgoritmos antes de pasar a la fase de codificación.Lenguajes de programaciónUn lenguaje 
        de programación se puede definir como un lenguaje artificial quepermite escribir las instrucciones de un  programa informático, 
        o dicho de otraforma, un lenguaje de programación permite al programador comunicarse con lacomputadora para decirle qué es lo 
        que tiene que hacer. Con esta finalidad, elhombre ha inventado muchos lenguajes de programación, ahora bien, todos ellosse pueden 
        clasificar en tres tipos principales: máquina, de bajo nivel y de altonivel.</p>
        
        <div class="image"><img src="/css/images/implementacion.jpg" width="200" height="150"/></div>
        
        <p> El  lenguaje  máquina   es  el  único   que   entiende  
        la  computadora  digital,   es  su "lenguaje natural". En él solamente se pueden utilizar dos símbolos: el cero (0) y eluno (1). 
        Por ello, al lenguaje máquina también se le denomina lenguaje binario.</p>
    </div>
</body>
</html>