<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>5.4 Mantenimiento.</strong></h2>
    <h3 align="right"><a href="/users/e3"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/unidad1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
       
       <p> Con el paso del tiempo, las aplicaciones informáticas deben someterse a procesos de modificación que prolongan su vida útil 
        o mejoran sus características. Corrección de bugs, adaptación a nuevos entornos tecnológicos o incorporación de funcionalidades 
        son algunas de las tareas incluidas en el mantenimiento del software, actividad que se repite periódicamente desde el momento en 
        que se empieza a utilizar hasta su abandono definitivo.</p>

       <p>A lo largo de su vida útil, la aplicación puede necesitar modificaciones por diferentes razones, que determinan diferentes 
        tipos de mantenimiento:</p>
        <ul>
        <li><strong>Mantenimiento preventivo: </strong>Consiste en la revisión constante del software para detectar posibles fuentes de problemas que puedan 
        surgir en el futuro.</li>
        
        <li><strong>Mantenimiento predictivo. </strong>Evalúa el flujo de ejecución del programa para predecir con certeza cuándo ocurrirá la falla, y así 
        determinar cuándo es apropiado hacer los ajustes correspondientes.</li>
        
        <li><strong>Mantenimiento correctivo.</strong> Corrige los defectos encontrados en el software, y que originan un comportamiento diferente al deseado. 
        Estas fallas pueden ser de procesamiento, rendimiento (por ejemplo, uso ineficiente de recursos de hardware), programación 
        (inconsistencias en la ejecución), seguridad o estabilidad, entre otras.
        </li>
        <li><strong>Mantenimiento adaptativo. </strong>Si es necesario cambiar el entorno en el que se utiliza la aplicación (que incluye el sistema operativo, 
        la plataforma de hardware o, en el caso de las aplicaciones web, el navegador), puede ser necesario modificarla para mantener su 
        plena funcionalidad en estas nuevas condiciones.
        </li>
        <li><strong>Mantenimiento evolutivo.</strong> Es un caso especial donde la adaptación es prácticamente obligatoria, ya que de lo contrario el programa 
        quedaría obsoleto con el paso del tiempo. Por ejemplo, el cambio de versión en un navegador (a menudo impuesto sin el consentimiento 
        del usuario) suele requerir ajustes en los plugins y aplicaciones web.</li>
        
        <li><strong>Mantenimiento perfecto.</strong> Por diferentes razones, el usuario puede solicitar la adición de nuevas funcionalidades o características 
        no consideradas en el momento de la implementación del software. Un mantenimiento perfecto adapta la aplicación a este requisito. 
        El mantenimiento permanente del software puede asegurar su funcionalidad durante muchos años, ahorrando tiempo y el coste económico 
        de una migración total a una nueva aplicación.</li>
        </ul>
    </div>
</body>
</html>