<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
	background-image: url(fondo_gris_rayos.jpg);
}
.v {
	color: #800000;
}
.n {
	color: #0080C0;
}
</style>
</head>

<body>
<div align="center">
  <h2><FONT color="#742844"> RÚBRICAS DE ACTIVIDADES  </FONT></h2>
</div> 
<h3 align="right"><a href="/users/obj5"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/practicas5"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
<h3 class="v"><strong>Descripción de la rúbrica de Evaluación</strong></h3>
<p>Las actividades  que se realizará en esta unidad  tendrán la siguiente rúbrica de evaluación:</p>
<p align="center"><strong>EVALUACIÓN</strong></p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="177" valign="top"><p align="center"><strong>Categoría</strong></p></td>
    <td width="142" valign="top"><p align="center"><strong>4</strong></p></td>
    <td width="161" valign="top"><p align="center"><strong>3</strong></p></td>
    <td width="142" valign="top"><p align="center"><strong>2</strong></p></td>
    <td width="151" valign="top"><p align="center"><strong>1</strong></p></td>
    <td width="91" valign="top"><p align="center"><strong>Total</strong></p></td>
  </tr>
  <tr>
    <td width="177" valign="top"><p>Contenido adecuado y personalizado.</p></td>
    <td width="142" valign="top"><p>El contenido fue cubierto ampliamente. </p></td>
    <td width="161" valign="top"><p>El contenido fue bien desarrollado pero no de    forma amplia.</p></td>
    <td width="142" valign="top"><p>El contenido fue cubierto de forma limitada.</p></td>
    <td width="151" valign="top"><p>No presentó el contenido solicitado.</p></td>
    <td width="91" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="177" valign="top"><p>La información provista muestra el dominio del    tema.</p></td>
    <td width="142" valign="top"><p>No expresa dominio ni entendimiento del tema</p></td>
    <td width="161" valign="top"><p>La información está organizada de manera confusa.</p></td>
    <td width="142" valign="top"><p>La información está bien organizada pero carece    de coherencia.</p></td>
    <td width="151" valign="top"><p>La información está excelentemente organizada de    manera coherente y lógica demostrando dominio del tema.</p></td>
    <td width="91" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="177" valign="top"><p>La actividad está libre de errores ortográficos.</p></td>
    <td width="142" valign="top"><p>Demuestra poca atención por el uso correcto de la    lengua.</p></td>
    <td width="161" valign="top"><p>Abundan errores ortográficos y gramaticales.</p></td>
    <td width="142" valign="top"><p>Hay pocos errores ortográficos y gramaticales.</p></td>
    <td width="151" valign="top"><p>No hay errores ortográficos ni gramaticales.</p></td>
    <td width="91" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="177" valign="top"><p>La actividad incluye referencias estilo IEEE o    APA.</p></td>
    <td width="142" valign="top"><p>No incluyó referencias o, si las incluyó, estas    no están en formato IEEE o APA.</p></td>
    <td width="161" valign="top"><p>Incluye referencias en formato IEEE o APA pero la    información está incompleta. </p></td>
    <td width="142" valign="top"><p>Incluye toda la información en formato IEEE o APA    pero no han sido suficientes fuentes consultadas.</p></td>
    <td width="151" valign="top"><p>Incluye toda información requerida en formato    IEEE o APA.</p></td>
    <td width="91" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>Puntaje total:<br />
  Notas:</p>
<p align="center">&nbsp;</p>
<h3 class="v"><strong>Descripción de la rúbrica de autoevaluación</strong></h3>
<p>Las actividades  que se realizará en esta unidad  tendrán la siguiente rúbrica de evaluación de autoevaluación:</p>
<p></p>
<p></p>
<p align="center"><strong>AUTOEVALUACIÓN</strong></p>
<p>Escala de valores<br />
  <em>1= Nunca            2= Regularmente             3= Casi siempre                  4= Siempre</em></p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="310" valign="top"><p align="center"><strong>Criterios</strong></p></td>
    <td width="123" valign="top"><p align="center"><strong>1</strong></p></td>
    <td width="142" valign="top"><p align="center"><strong>2</strong></p></td>
    <td width="142" valign="top"><p align="center"><strong>3</strong></p></td>
    <td width="123" valign="top"><p align="center"><strong>4</strong></p></td>
    <td width="109" valign="top"><p align="center"><strong>Total</strong></p></td>
  </tr>
  <tr>
    <td width="310" valign="top"><p>1. Incluí contenido adecuado y personalizado para    la actividad.</p></td>
    <td width="123" valign="top"><p>&nbsp;</p></td>
    <td width="142" valign="top"><p>&nbsp;</p></td>
    <td width="142" valign="top"><p>&nbsp;</p></td>
    <td width="123" valign="top"><p>&nbsp;</p></td>
    <td width="109" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="310" valign="top"><p>2. La información provista muestra mi dominio del    tema.</p></td>
    <td width="123" valign="top"><p>&nbsp;</p></td>
    <td width="142" valign="top"><p>&nbsp;</p></td>
    <td width="142" valign="top"><p>&nbsp;</p></td>
    <td width="123" valign="top"><p>&nbsp;</p></td>
    <td width="109" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="310" valign="top"><p>3. Mi actividad está libre de errores    ortográficos.</p></td>
    <td width="123" valign="top"><p>&nbsp;</p></td>
    <td width="142" valign="top"><p>&nbsp;</p></td>
    <td width="142" valign="top"><p>&nbsp;</p></td>
    <td width="123" valign="top"><p>&nbsp;</p></td>
    <td width="109" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td width="310" valign="top"><p>4. Mi actividad incluye referencias estilo IEEE o    APA.</p></td>
    <td width="123" valign="top"><p>&nbsp;</p></td>
    <td width="142" valign="top"><p>&nbsp;</p></td>
    <td width="142" valign="top"><p>&nbsp;</p></td>
    <td width="123" valign="top"><p>&nbsp;</p></td>
    <td width="109" valign="top"><p>&nbsp;</p></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>Puntaje total:<br />
</p>
<p>Notas:</p>
</body>
</html>