<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>
<body>
    https://www.redeweb.com/actualidad/sistemas-operativos/
    https://etac.edu.mx/blog-etac/index.php/lenguajes-de-programacion/
    https://www.ionos.mx/digitalguide/paginas-web/desarrollo-web/compilador-e-interprete/
    http://tic.taboadaleon.es/Unidad1-Programacion/Tema2_Lenguajes/contenido/5_estructura_de_un_programa_informtico.html
    https://isolution.pro/es/t/cprogramming/c-input-output/c-entrada-y-salida
    https://www.ecured.cu/Par%C3%A1metros_y_argumentos_(programaci%C3%B3n)
    https://casderoso.com/2015/04/07/que-es-una-estructura-de-decision/
    https://www.studocu.com/es-mx/document/instituto-politecnico-nacional/programacion-estructurada/estructuras-de-decision-y-control-de-flujo-en-lenguaje-c/17713029
    http://algofun.com/index.php/es/algoritmosycodigo/estructuras-de-control/iteracion
    http://fundamentosprogramacion.weebly.com/blog/contadores-y-acumuladores
    https://www.coursehero.com/file/70788441/trabajo-de-programaciondoc/
    http://solucioningenieril.com/programacion_en_c/arreglos_unidimensionales_o_vectores
    https://solucioningenieril.com/programacion_en_c/arreglos_arrays_y_cadenas_de_caracteres
    https://www.aprenderaprogramar.pro/2017/10/arrays-bidimensionales.html
    http://solucioningenieril.com/programacion_en_c/arreglos_bidimensionales_matrices_o_tablas
    https://triton.astroscu.unam.mx/fruiz/introduccion/c/apuntadores.pdf
    https://plataforma.josedomingo.org/pledin/cursos/programacion_python3/curso/u01/
    https://manuel.cillero.es/doc/metodologia/metrica-3/tecnicas/pruebas/integracion/
    https://spiegato.com/es/que-es-un-laboratorio-de-computacion
    https://www.ionos.com/digitalguide/server/know-how/windows-cmd-commands/
    https://code.visualstudio.com/docs/cpp/config-mingw
</body>
</html>