<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    
</head>
<body>
    <div>
    <p id="parrafotres">Deja algun mensaje</p>
    </div>
    <center>
    <div id="div3">
    <form action="/users/create" method="POST">
      <div>
        <label  id="parrafo-dibujo">Nombre:</label> 
        <input  type="text" name="name" id="parrafo-dibujo">   
      </div>
      <div>
        <label id="parrafo-dibujo" >Mensaje:</label>
        <textarea name="msg" id="parrafo-dibujo" cols="30" rows="10"></textarea>   
      </div>
      <div id="div4">
      <input class="btn-enviar" type="submit" value="Enviar">
      </div>
    </form>
    </div>
  </center>
  
</body>
</html>