<!DOCTYPE html>
<html>
<head>
	<title>Polilibro</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Hind|Pacifico" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/css/mainpoli.js"></script>
<link type="text/css" href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="/css/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link type="text/css" href="/css/css/theme.css" rel="stylesheet">
<script src="/css/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body background="/css/images/esimegris.jpg">
	

	<div class="sidebar">
		<ul class="widget widget-menu unstyled">
			<li class="active"><a href="/users/welcome" target="mainFrame"><i class="menu-icon icon-dashboard"></i>Inicio	
			</a></li>
			<li><a href="/users/intro" target="mainFrame"><i class="menu-icon icon-bullhorn"></i>Introducción </a>
			</li>
			<li><a href="/users/objetivo" target="mainFrame"><i class="menu-icon icon-inbox"></i>Objetivo <b class="label green pull-right"></b> </a></li>
			<li><a href="/users/metodologia" target="mainFrame"><i class="menu-icon icon-tasks"></i>Metodología <b class="label orange pull-right">
				</b> </a></li>
		</ul>
		<!--/.widget-nav-->
		
		
		<ul class="widget widget-menu unstyled">
			<li><a href="/users/form" target="mainFrame"><i class="menu-icon icon-paste"></i>EvaluaciOn</a></li>
			<li><a href="/users/tabla" target="mainFrame"><i class="menu-icon icon-table"></i>Prácticas</a></li>
			<li><a href="/users/graph" target="mainFrame"><i class="menu-icon icon-bar-chart"></i>Proyecto</a></li>
		    
			<li><a class="collapsed" data-toggle="collapse" href="#togglePages"><i class="menu-icon icon-cog">
			</i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
			</i>Temario </a>
				<ul id="togglePages" class="collapse unstyled" >
					<li><a href="/users/artistas" target="mainFrame"><i class="icon-inbox"></i>Unidad 1 </a></li>
				</ul>
			</li>
		</ul>
		<!--/.widget-nav-->
		<ul class="widget widget-menu unstyled">
			<li><a href="/" target="mainFrame"><i class="menu-icon icon-signout"></i>Glosario </a></li>
			<li><a href="/" target="mainFrame"><i class="menu-icon icon-signout"></i>BibliografÍa </a></li>
			<li><a href="/" target="mainFrame"><i class="menu-icon icon-signout"></i>Creditos </a></li>
		</ul>
	</div>


</body>
</html>