<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
	background-image: url(fondo_gris_rayos.jpg);
}
.v {
	color: #800000;
}
.v {
	color: #800000;
}
.v {
	color: #800000;
}
.v {
	color: #800000;
}
.v {
	color: #800000;
}
.v {
	color: #800000;
}
.v {
	color: #800000;
}
.v {
	color: #800000;
}
.v {
	color: #800000;
}
.v {
	color: #800000;
}
</style>
</head>

<body>
<h2 align="center"><strong><font color="#742844"> GLOSARIO</font></strong></h2>
<p align="center">&nbsp;</p>
<h1 class="v"><strong>A</strong></h1>
<p><strong>Algoritmo.</strong> Conjunto de Instrucciones que especifican la secuencia  de operaciones a realizar, en orden, para resolver un sistema específico o  clase de problema.</p>
<p><strong>Algoritmos aleatorizados.</strong>  Se dice que un algoritmo está aleatorizado si  su comportamiento es determinado no solo por su entrada, sino por valores  producidos por un generador de números aleatorios random(a, b), que produce un  entero en el rango [a..b] que tiene la misma probabilidad de aparecer que los  otros enteros del rango.<br />
  </p>
<p><strong>Algoritmos ávidos.</strong> Seleccionan  los elementos más prometedores del conjunto de candidatos hasta encontrar una  solución.</p>
<p><strong>Algoritmo determinista.</strong> Es un algoritmo cuyo comportamiento está completamente determinado por su  entrada.</p>
<p><strong>Algoritmo de Monte Carlo.</strong> Con  una alta probabilidad encuentra una solución correcta sea cual sea la entrada. </p>
<p><strong>Algoritmo de las Vegas.</strong> Toma  decisiones al azar para encontrar una solución antes que un algoritmo  determinista.</p>
<p><strong>Algoritmo de Sherwood</strong>. Existe  una solución determinista que es mucho más rápida en media que en el peor caso.</p>
<p><strong>Algoritmos numéricos</strong>. La  solución obtenida es siempre aproximada pero s precisión esperada mejora  aumentado el tiempo de ejecución.</p>
<p><strong>Algoritmos probabilísticos.</strong> Algunos de los pasos de este tipo de algoritmos están en función de valores  pseudoaletorios.</p>
<p><strong>Algoritmos recursivos.</strong> Es aquel  que expresa la solución de un problema en términos de una llamada a sí mismo.</p>
<p><strong>Análisis de algoritmos.</strong> Parte  importante de la Teoría de complejidad computacional más amplia, que provee  estimaciones teóricas para los recursos que necesita cualquier algoritmo que  resuelva un problema computacional dado. </p>
</body>
</html>
