<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Polilibro</title>
<%- include("partials/headers") -%>
</head>
<frameset rows="190,*" cols="*" framespacing="0" frameborder="no" border="0">
  <frame src="/users/frametop" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset rows="*" cols="275,*" framespacing="0" frameborder="no" border="0">
		<frame src="/users/frameizq" name="leftFrame" scrolling="Yes" noresize="noresize" id="leftFrame" title="leftFrame" />
		<frame src="/users/welcome" name="mainFrame" id="mainFrame" title="mainFrame" />
	</frameset>
</frameset>
<noframes><body>
</body></noframes>
</html>