<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
</head>
<body id="bd">
    
    <div class="content">
        
        
   
        
        
     
        <center>
        <div class='texto' id="div2">
         
            <p id="parrafo"></p>
        
          </div>
          <div id="div-mostrar">
           
            <form action="/users/add" method="POST" enctype="multipart/form-data">
     
                <div >
                    <input value="Publicar nota" type="submit" href="#" >
                        
                    
                    <input value="" type="file" id="holi" name="image"
                    rel="tooltip" data-placement="top" data-original-title="Upload a photo">
                    <label for="holi"><i class="icon-camera shaded"></i></label>	
                    
                </div>
            </form>

        </div>
        </center>
    </div>
    
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>