<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Polilibro</title>
<style type="text/css">
body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
</style>
</head>

<body background="fondo_gris_rayos.jpg">
<div align="center"><img src="escom.jpg" width="512" height="342" alt="" /></div>
<h3 align="center">Da <a href="/users/welcome">clic</a> para comenzar</h3>
</body>
</html>
