<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">       
        body,td,th {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }
    </style>
    <script src="/css/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link type="text/css" href="/css/images/icons/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <h2 align="center"><strong><FONT color="#742844"><i class="icon-inbox"></i> INTRODUCCIÓN</FONT COLOR></strong></h2>
        <h2 align="center">&nbsp;</h2>
        <blockquote>
          <blockquote>
            <blockquote>
              <blockquote>
                <p align="justify">  El acelerado avance científico y tecnológico en la Ingeniería y en general en todas las áreas del conocimiento, se ha debido en buena medida al desarrollo de poderosas herramientas computacionales de análisis, diseño y simulación que ha permitido resolver problemas más complejos con mucha mayor velocidad y precisión, así como automatizar diversos procesos y almacenar y procesar grandes cantidades de información.<br />
                </p>
                <p align="justify">Por lo anterior, es imprescindible incluir en la formación de los Ingenieros asignaturas que contengan principios fundamentales de computación y programación, que les permita tener los elementos y herramientas para que al egresar puedan hacer uso de las tecnologías.<br />
                </p>
              </blockquote>
            </blockquote>
          </blockquote>
        </blockquote>
</body>
</html>