<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">       
        body,td,th {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }
    </style>
    <script src="/css/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link type="text/css" href="/css/images/icons/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <h2 align="center"><strong><FONT color="#742844"><i class="icon-bullhorn"></i> Metodologia</FONT COLOR></strong></h2>
        <blockquote>
            <blockquote>
              <blockquote>
                <blockquote>
                  <p align="justify"><br />
                    La metodología para  el uso del material será a través de la lectura de los apuntes que se presentan  de cada unidad, la comprensión de los diversos conceptos  y desarrollar las actividades de aprendizaje  de acuerdo con las explicaciones y ejemplos previos. </p>
                  <p align="justify">  Para  resolver las actividades es necesario identificar el problema,&nbsp;definir y  presentar su complejidad;&nbsp;explorar las estrategias de análisis de  algoritmos viables,&nbsp;implementar dichas estrategias y&nbsp;lograr la  solución de forma eficiente.</p>
                </blockquote>
              </blockquote>
            </blockquote>
          </blockquote>
</body>
</html>