<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">       
        body,td,th {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }
    </style>
    <script src="/css/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link type="text/css" href="/css/images/icons/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <h2 align="center"><strong><FONT color="#742844"><i class="icon-bullhorn"></i> Objetivo</FONT COLOR></strong></h2>
        <blockquote>
            <blockquote>
              <blockquote>
                <blockquote>
                  <blockquote>
                    <p align="justify">&nbsp;</p>
                    <p align="justify"><br />
                      El objetivo del Poli libro de fundamentos de Programación es proporcionarte una herramienta  auxiliar de la unidad de aprendizaje, el cual está  conformado por material práctico disponible en una página web que incluye  información teórica, una amplia selección de ejercicios y  problemas a  resolver  y actividades en donde se evalúan los  conocimientos adquiridos según lo visto en cada una de las unidades que  conforman el temario.</p>
                     <br> <h3 align="center"><strong><FONT color="#0000"><i class=""></i> Objetivo de la asignatura</FONT COLOR></strong></h3>
                        <p align="center"><br />
                           El alumno resolverá problemas de ingeniería y ciencias mediante la programación estructurada.</p>
                           
                  </blockquote>
                </blockquote>
              </blockquote>
            </blockquote>
          </blockquote>
</body>
</html>