<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script>

function moverbtn(){
    width = window.innerWidth
    height = window.innerHeight
    newWidth = (Math.random() * width)/2;
    newHeight= (Math.random() * height)/2;
    document.getElementById('btnNo').style.position = "absolute";
    document.getElementById('btnNo').style.left = newWidth + "px";
    document.getElementById('btnNo').style.top = newHeight + "px";
}
    
    </script>
</head>
<body>
    
    <p id="parrafodos">¿Crees que nos podamos ver?</p>
    <p class="square">S</p>
    <p class="square delay1">A</p>
    <p class="square delay2">N</p>
    <p class="square delay3">D</p>
    <p class="square delay4">I</p>

    <a class="btn-si" href="/users/create">Si</a>
    <a  class="btn-no"  onmouseover="moverbtn()" id="btnNo" >No</a>
</body>
</html>