<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/css/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link type="text/css" href="/css/images/icons/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>
<body>
       <div class="div-texto">
        <h2><strong><i class="icon-cog"></i> Proyecto</strong></h2>
        <p><strong>Descripción del proyecto</strong></p>
        <p>El proyecto que se realizará en equipos de trabajo y tendrá  que resolver un problema de la vida cotidiana usando las técnicas de análisis y  diseño de algoritmos, dividido en tres partes: </p>
        <ul>
          <li>Análisis  y diseño</li>
          <li>Desarrollo  y aplicación</li>
          <li>Resultados</li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>Etapas del proyecto</strong></p>
        <p>El desarrollo del proyecto de software tendrá tres etapas:</p>
        <p>1. Propuesta de Proyecto de Software. Entrega al final de la Unidad I (Valor  10%).</p>
        <p>2. Avance de Proyecto de Software. Entrega al final de la Unidad II (Valor 10%).</p>
        <p>3. Reporte de Final de Proyecto de Software. Entrega al final de la Unidad III (Valor 20%).</p>
        <p>&nbsp;</p>
       </div>
</body>
</html>