<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
	background-image: url(fondo_gris_rayos.jpg);
}
.B {
	color: #000;
}
.n {
	color: #0080C0;
}
</style>
</head>

<body>
<h2 align="center"><strong><font color="#742844">UNIDAD I Introducción ala programación</font></strong></h2>
<h2 align="center"><strong><font color="#742844">CONTENIDOS</font></strong></h2>
<p align="center">&nbsp;</p>
<ul>
  <li><a href="/users/obj1" align="left">Objetivo de la Unidad I</a></li>
  <br>
  <li><a href="/users/rub1">Evaluación de la Unidad I</a></li>
  <br>
  <li><a href="/users/practicas1">Prácticas de la Unidad I</a></li>
  <br>
  <li>Temas:</li>
  <br>
  <li><a href="/users/a1">1.1 Sistemas Operativos.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/a1-1">1.1.1 Definición, características y función de un sistema operativo.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/a1-2">1.1.2 Análisis comparativo de sistemas operativos (MS-DOS,LINUX, WINDOWS).</a></li>
  <br>  
  <li><a href="/users/a2">1.2 Evolución de los lenguajes de programación.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/a2-1">1.2.1 Definición, características y funciones de los lenguajes de programación.</a></li>
  <br>
  <li><a href="/users/a3">1.3 Interpretes, Compiladores.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/a3-1">1.3.1 Definicion de Intérpretes y Compiladores, Ambiente integral del Lenguaje C. </a></li>
  <br>


</ul>

</body>
</html>
