<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
	background-image: url(fondo_gris_rayos.jpg);
}
.B {
	color: #000;
}
.n {
	color: #0080C0;
}
</style>
</head>

<body>
<h2 align="center"><strong><font color="#742844">UNIDAD III Estructuras de flujo programático</font></strong></h2>
<h2 align="center"><strong><font color="#742844">CONTENIDOS</font></strong></h2>
<p align="center">&nbsp;</p>
<ul>
  <li><a href="/users/obj3" align="left">Objetivo de la Unidad III</a></li>
  <br>
  <li><a href="/users/rub3">Evaluación de la Unidad III</a></li>
  <br>
  <li><a href="/users/practicas3">Prácticas de la Unidad III</a></li>
  <br>
  <li>Temas:</li>
  <br>
  <li><a href="/users/c1">3.1 Estructuras de decisión.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/c1-1">3.1.1 Simple.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/c1-2">3.1.2 Ramificada.</a></li>
  <br>  
  <li><a href="/users/c2">3.2 Estructuras de iteración.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/c2-1">3.2.1 Pre y Post condicional.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/c2-2">3.2.2 Contador y acumuladores.</a></li>
  <br>
  <li><a href="/users/c3">3.3 Estructuras de control.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/c3-1">3.3.1 Ruptura de un lazo. </a></li>
  <br>


</ul>

</body>
</html>
