<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
	background-image: url(fondo_gris_rayos.jpg);
}
.B {
	color: #000;
}
.n {
	color: #0080C0;
}
</style>
</head>

<body>
<h2 align="center"><strong><font color="#742844">UNIDAD I Introducción ala programación</font></strong></h2>
<h2 align="center"><strong><font color="#742844">CONTENIDOS</font></strong></h2>
<p align="center">&nbsp;</p>
<ul>
  <li><a href="#" align="left">Objetivo de la Unidad I</a></li>
  <br>
  <li><a href="#">Video Introductorio a la Unidad I</a></li>
  <br>
  <li><a href="#">Actividades y evaluación de la Unidad I</a></li>
  <br>
  <li><a href="#">Prácticas de la Unidad I</a></li>
  <br>
  <li><a href="#">Propuesta de Proyecto y evaluación</a></li>
  <br >
  <li>Temas:</li>
</ul>

</body>
</html>
