<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
	background-image: url(fondo_gris_rayos.jpg);
}
.B {
	color: #000;
}
.n {
	color: #0080C0;
}
</style>
</head>

<body>
<h2 align="center"><strong><font color="#742844">UNIDAD II Fundamentos de programación estructurada</font></strong></h2>
<h2 align="center"><strong><font color="#742844">CONTENIDOS</font></strong></h2>
<p align="center">&nbsp;</p>
<ul>
  <li><a href="/users/obj2" align="left">Objetivo de la Unidad II</a></li>
  <br>
  <li><a href="/users/rub2">Evaluación de la Unidad II</a></li>
  <br>
  <li><a href="/users/practicas2">Prácticas de la Unidad II</a></li>
  <br>
  <li>Temas:</li>
  <br>
  <li><a href="/users/b1">2.1. Estructura general de un programa.</a></li>
  <br>
  <li><a href="/users/b2">2.2. Tipos de datos y operadores.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/b2-1">2.2.1 Tamaños, declaración, modificadores.</a></li>
  <br> 
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/b2-2">2.2.2 Operadores Lógicos, aritméticos y de asignación.</a></li>
  <br>  
  <li><a href="/users/b3">2.3 Funciones de bilbioteca.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/b3-1">2.3.1 Funciones de entrada y salida.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/b3-2">2.3.2 Funciones matemáticas.</a></li>
  <br>
  <li><a href="/users/b4">2.4 Funciones generadas por el usuario.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/b4-1">2.4.1 Argumentos y parámetros formales. </a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/b4-2">2.4.2 Funciones con y sin argumentos. </a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/b4-3">2.4.3 Funciones que regresan valores. </a></li>
  <br>


</ul>

</body>
</html>
