<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
	background-image: url(fondo_gris_rayos.jpg);
}
.B {
	color: #000;
}
.n {
	color: #0080C0;
}
</style>
</head>

<body>
<h2 align="center"><strong><font color="#742844">PRÁCTICAS</font></strong></h2>
<h2 align="center"><strong><font color="#742844">CONTENIDOS</font></strong></h2>
<p align="center">&nbsp;</p>
<ul>
  <li><strong> Unidad1:</strong></li>
  <br>
  <li><a href="/users/p1">Práctica 1. Laboratorio de computación.</a></li>
  <br> 
  <li><a href="/users/p2">Práctica 2. Sistemas operativos.</a></li>
  <br>
  <li><a href="/users/p3">Práctica 3. Compiladores.</a></li>
  <br><br>
  <li><strong>Unidad2:</strong></li>
  <br>
  <li><a href="/users/p4">Práctica 4. Entrada y salida por consola.</a></li>
  <br>
  <li><a href="/users/p5">Práctica 5. Operaciones básicas.</a></li>
  <br>
  <li><a href="/users/p6">Práctica 6. Funciones matemáticas.</a></li>
  <br><br>
  <li><strong>Unidad3:</strong></li>
  <br>
  <li><a href="/users/p7">Práctica 7. Funciones de usuario.</a></li>
  <br>
  <li><a href="/users/p8">Práctica 8. Sentencias de decisión.</a></li>
  <br>
  <li><a href="/users/p9">Práctica 9. Sentencias de iteración.</a></li>
  <br>
  <li><a href="/users/p10">Práctica 10. Sentencias de control.</a></li>
  <br><br>
  <li><strong>Unidad4:</strong></li>
  <br>
  <li><a href="/users/p11">Práctica 11. Arreglos unidimensionales.</a></li>
  <br>
  <li><a href="/users/p12">Práctica 12. Arreglos bidimensionales.</a></li>
  <br>
  <li><a href="/users/p13">Práctica 13. Apuntadores.</a></li>
  <br><br>
  <li><strong>Unidad5:</strong></li>
  <br>
  <li><a href="/users/p14">Práctica 14. Proyecto final.</a></li>
  <br>

</ul>

</body>
</html>
