<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
	background-image: url(fondo_gris_rayos.jpg);
}
.B {
	color: #000;
}
.n {
	color: #0080C0;
}
</style>
</head>

<body>
<h2 align="center"><strong><font color="#742844">UNIDAD IV Estructuras de datos</font></strong></h2>
<h2 align="center"><strong><font color="#742844">CONTENIDOS</font></strong></h2>
<p align="center">&nbsp;</p>
<ul>
  <li><a href="/users/obj4" align="left">Objetivo de la Unidad IV</a></li>
  <br>
  <li><a href="/users/rub4">Evaluación de la Unidad IV</a></li>
  <br>
  <li><a href="/users/practicas4">Prácticas de la Unidad IV</a></li>
  <br>
  <li>Temas:</li>
  <br>
  <li><a href="/users/d1">4.1 Arreglos unidimensionales.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/d1-1">4.1.1 Concepto y forma general.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/d1-2">4.1.2 Arreglos numéricos y de caracteres.</a></li>
  <br>  
  <li><a href="/users/d2">4.2 Arreglos bidimensionales.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/d2-1">4.2.1 Concepto y forma general.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/d2-2">4.2.2 Arreglos numéricos y de caracteres.</a></li>
  <br>
  <li><a href="/users/d3">4.3 Apuntadores.</a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/d3-1">4.3.1 Concepto. </a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/d3-2">4.3.2 Tipos de apuntadores. </a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/d3-3">4.3.3 Operaciones con apuntadores. </a></li>
  <br>
  <li>&nbsp;&nbsp;&nbsp;<a href="/users/d3-4">4.3.4 Relación de apuntadores con arreglos. </a></li>
  <br>

</ul>

</body>
</html>
