<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
   <h2><strong>1.1.1 Definición, características y función de un sistema operativo.</strong></h2>
   <h3 align="right"><a href="/users/a1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/a1-2"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
      <p>La definición de<strong>Sistema Operativo</strong> hace referencia a un programa o conjunto de programas (software) que cuando 
        arrancamos o bien iniciamos el ordenador se encarga de administrar todos y cada uno de los recursos del sistema informático, ya 
        sean los discos, memorias, teclado, ratón… entablando una comunicación directa entre el ordenador y el usuario.<br /></p>

    
          
      <p> <img src="/css/images/cmd.jpg" alt="" width="436" height="216" align="left"  class="div-img"/> <br> Antiguamente los sistemas operativos como por ejemplo MS-DOS funcionaban mediante líneas de comandos, hoy en día son mucho 
      mas intuitivos ya que funcionan mediante una interfaz gráfica o mediante ventanas, aunque también tenemos la opción de utilizar 
      la consola de comandos (esta opción sería para usuarios avanzados), eso sí, la forma más fácil para un usuario básico sería 
      mediante la interfaz del sistema operativo.</p>

      <p> El sistema operativo es el encargado de lanzar los procesos que hace nuestro ordenador, definimos proceso a cuando nuestro 
        software se carga en la memoria, en caso de que el programa no estuviese cargado en la memoria este no funcionaría.</p>

     <br><br>
    <p class="v"><strong>Hay 2 tipos de procesos distintos:</strong></p>
      <ul>
        <li>En primer plano: Este tipo de procesos requieren la ejecución e interacción del usuario, un ejemplo sería nuestro navegador
           de intenet, un procesador de textos, un programa para intercambio de archivos.</li>
        <li>En segundo plano: Éstos no requieren ninguna acción del usuario ya que como bien su nombre indica se ejecutan en segundo 
          plano, normalmente no tienen interfaz gráfica, para poder verlos tendríamos que entrar en el administrador de tareas y ahí 
          nos aparecerían, un ejemplo de estos sería por ejemplo un software de antivirus.</li>
      </ul>

      <p>Los recursos que gestiona son tanto del hardware (partes físicas, disco duro, pantalla, teclado, etc.) como del software 
      (programas y también instrucciones).</p>
      <p>Todos las ordenador, portátiles, tablets, Móvil y servidores tienen y precisan de un sistema operativo.
      Los otros programas, que no son SO, se llaman aplicaciones, estos programas van instaladas dentro de nuestro sistema operativo, 
      sin este estas aplicaciones no podrían correr dentro de nuestra computadora que el SO es totalmente necesario.</p>

      <p><strong> Algunas funciones que puede efectuar un Sistema Operativo son:</strong></p>
      <ul>
          <li>El sistema operativo es la única gran pieza de software que ejecuta los programas y se encarga de todo lo demás. Por poner un ejemplo, el     sistema operativo controla los archivos y otros recursos a los que pueden acceder estos programas una vez ejecutados.</li>
          <li>Cuando tenemos múltiples programas que se pueden ejecutar al mismo tiempo, el sistema operativo determina qué aplicaciones se deben     ejecutar exactamente en qué orden y cuánto tiempo.</li>
          <li>Administra el intercambio de memoria interna entre múltiples aplicaciones.</li>
          <li>Se encarga de la entrada y la salida de los datos desde y cara los dispositivos de hardware conectados, como discos duros, impresoras,     puertos de comunicación, teclado, etc.</li>
          <li>Envía mensajes a cada aplicación o bien usuario (o a un operador del sistema) sobre el estado de funcionamiento y los errores que se hayan     podido producir.</li>
          <li>En los equipos que pueden suministrar procesamiento en paralelo, un sistema operativo puede manejar la forma de dividir el programa a fin     de que se ejecute en más de un procesador al unísono. Un ejemplo: cuando una aplicación desea imprimir algo, entrega esa labor al sistema     operativo.</li>
          <li>El sistema operativo manda las instrucciones a la impresora, usando los controladores de la impresora para mandar las señales correctas.</li>
      </ul>
      <p><strong>Las partes de un Sistema Operativo</strong></p>
        <p>El sistema operativo consta de muchos componentes o bien partes y de muchas peculiaridades distintas.
        Las peculiaridades que se definen como una parte del sistema operativo cambian con cada sistema operativo.<br><br>
        No obstante, los partes de todo SO son: <br><br>
        
        <strong>1. KERNEL O NÚCLEO </strong> <br><br>
          ¿Qué es el kernel? Se trata del elemento fundamental de todo SO. Es el responsable de que arranque el sistema y tener el control sobre los diferentes componentes de hardware del sistema. Su función es leer y escribir datos en la memoria, procesar las órdenes que transmite el usuario, interpretar dicha información y elegir qué software hará uso de los recursos del ordenador y durante cuánto rato.

          <br><br><strong>2. INTERFAZ  </strong> <br><br>
          Se trata del conjunto de elementos gráficos o visuales que permiten al usuario interactuar con el ordenador. Se compone de un escritorio, ventanas y distintos elementos visuales que permiten que el usuario pueda interactuar con el sistema. En ocasiones, la interfaz no será tan intuitiva y el usuario se comunicará a través de la línea de comandos, que es otra interfaz distinta.

          <br><br><strong>3. DRIVERS  </strong> <br><br>
          Su función es facilitar que el ordenador interactúe con los periféricos. Es muy importante para el correcto funcionamiento de nuevo hardware, como impresoras o escáneres. Los drivers ayudan a mejorar la seguridad del usuario. Es muy importante que los drivers estén actualizados para el funcionamiento adecuado de un sistema.

          <br><br><strong>4. SISTEMA DE ARCHIVOS </strong> <br><br>
          Su función es asignar espacio a los archivos y llevar el control del espacio libre en el disco duro, así como de los accesos a los datos almacenados. El sistema de archivos se encarga de ordenar y clasificar la información en la unidad de almacenamiento.  
      </p>
</div>
</body>
</html>
