<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
   <h2><strong>1.1.2 Análisis comparativo de Sistemas Operativos (MS-DOS,LINUX, WINDOWS).</strong></h2>
   <h3 align="right"><a href="/users/a1-1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/a2"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">

        <p><strong>Tipos de Sistemas Operativos</strong></p>
        
        <p>A nivel de usuario de un computador, podemos decir que hay 2 tipos de Sistemas Operativos: SO para ordenador y SO para Dispositivos Móviles. Existe una extensa familia de sistemas operativos clasificados según los tipos de ordenadores que controlan y el género de aplicaciones que aceptan.
        
        Las cuatro categorías para este tipo de SO son: SO en tiempo real, SO Usuario Único Tarea Única, SO Usuario Único Multitarea y SO Multiusuario.
        
        Los sistemas operativos para computador u ordenadores de sobremesa son muy variados y hay muchos, pero los más usados son el Windows, el Mac y el LINUX.</p>
        
        <p><strong> Los SO más utilizados para PC:</strong></p>
        <ul>
           <li>Linux o Ubuntu: Como sistema operativo fue desarrollado para proporcionar a los usuarios de computadoras personales una opción    alternativa libre o bien de bajísimo costo. Linux tiene la reputación de ser un sistema muy eficaz y rápido. Hay muchas versiones    diferentes, las más conocidas son Ubuntu o Fedora. Las versiones se pueden modificar de forma libre por cualquier usuario.</li>
          <li> Microsoft Windows: El uso de las ventanas es la insignia del sistema operativo de Microsoft, sistema estándar para ordenadores    personales y de negocios. Fué creado en 1985, es el gran responsable y pionero de la rápida evolución de la informática en el hogar.</li>
           <li>Mac OS: es el sistema operativo de Apple Macintosh para líneas de ordenadores personales y estaciones de trabajo. La manzana identifica    a este sistema operativo ya que es su logotipo.</li>
        </ul>
        <p><strong> Sistemas Operativos para Móviles:</strong></p>
        <ul>
          <li>Android: Este sistema operativo fue creado a partir de Linux ya que es de código abierto, se utiliza para dispositivos móviles y tablet. Lo creó la compañía Android inc. Un tiempo después compro Google y se hizo tan famosa que subieron muchísimo las ventas, a día de hoy es el sistema operativo para móviles mas utilizado.</li>
          <li>IOS: Es el sistema operativo creado por la empresa Apple inc. su lanzamiento inicial fue en junio de 2007 lanzando su primera versión ya que a día de hoy ya vamos por la versión 15 de este SO. Este sistema operativo es menos utilizado que Android pero leyendo diversas opiniones de los usuarios llegamos a la conclusión de que IOS es mucho mas estable que Android y también más rápido.</li>
          <li>Windows Phone: Fue un sistema operativo creado por la compañía Windows, al principio tuvo bastante éxito y se vendieron muchos teléfonos móviles y tablets con este sistema operativo, a día de hoy esta en desuso ya que se ha quedado obsoleto en comparación con los otros dos SO que hemos nombrado anteriormente.</li>
        </ul>
        
        <p><strong> SO Según el PC y el Género de Aplicaciones.</strong></p>
        <ul>
          <li>Sistema operativo en tiempo real (RTOS): los sistemas operativos en tiempo real se utilizan para supervisar maquinaria, instrumentos científicos y sistemas industriales. Una parte muy importante de un RTOS es dirigir los recursos de la computadora para que una operación particular se ejecute precisamente en exactamente la misma cantidad de tiempo, cada vez que ocurre.</li>
        
          <li>Usuario único, tarea única: como su nombre lo señala, este sistema operativo está diseñado para administrar la computadora de modo que un usuario pueda hacer una cosa a la vez.</li>
        
          <li>Usuario único, multitarea: este es el tipo de sistema operativo que la mayoría de la gente utiliza en sus computadoras de escritorio y portátiles en la actualidad. Windows de Microsoft y las plataformas MacOS de Apple son ejemplos de sistemas operativos que dejarán que un solo usuario tenga varios programas en funcionamiento al tiempo.</li>
        
          <li>Multiusuario: un sistema operativo multiusuario permite que muchos usuarios diferentes aprovechen los recursos de la computadora simultáneamente.</li>
        </ul>
         
        <p> Sistemas operativos Unix, VMS y mainframe, como MVS , son ejemplos de sistemas operativos multiusuario.</p>

        <p><strong> Compatibilidad de los SO.</strong></p>
        
        <p>La mayoría de los programas de software están diseñados para funcionar con el sistema operativo de una sola empresa, por servirnos de un ejemplo solo Windows (Microsoft) o bien solo macOS (Apple).</p>

        <p>Un software indicará claramente qué sistemas operativos acepta y será muy concreto si es necesario incluyendo la versión o bien versiones de ese SO que acepta.</p>

        <p>Por servirnos de un ejemplo, un programa de software de producción de vídeo podría decir que es compatible con Windows diez, Windows ocho y Windows 7, pero no es compatible con versiones precedentes de Windows como Windows Vista y XP.</p>

        <p>Los desarrolladores de software asimismo acostumbran a lanzar versiones auxiliares de su software que funcionan con otros sistemas operativos o bien versiones diferentes.</p>

          
     
    </div>
</body>
</html>