<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
   <h2><strong>1.1 Sistemas Operativos.</strong></h2>
   <h3 align="right"><a href="/users/practicas1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/a1-1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
     <p> <img src="/css/images/sop.jpg" alt="" width="236" height="116" align="left"  class="div-img"/>En este capítulo se explicará que es el sistema operativo, para qué sirve, los tipos de sistemas operativos que nos podemos encontrar, las diferentes compatibilidades que tienen, y su historia. <br /></p>
     
     
     <p> Cuando se ejecuta un software en el sistema, es el SO quien se encarga de abrirlo, acceder a los recursos de hardware
       y todos los elementos que permiten su funcionamiento. Además le asigna una memoria, que se usará en función del número 
       de programas que estén abiertos a la vez.</p>
     
    <p class="v"><strong><br>¿Para Qué sirve el Sistema Operativo?</strong></p>
    
    <p> Los sistemas operativos usan imágenes y botones para poder establecer una comunicación con el ordenador de manera fácil para poder enviarle las instrucciones de lo que deseamos hacer en cada instante a nuestro ordenador.
      El objetivo principal es el de darnos los instrumentos necesarios para poder supervisar nuestra computadora y poder hacer empleo de ella, de una forma fácil para el usuario final, en resumidas cuentas, el sistema hace la vida más fácil al usuario.      
      Las funciones básicas del Sistema Operativo son las de gestionar los recursos del computador, coordinar el hardware y organizar ficheros y directorios en los dispositivos de almacenaje de nuestra computadora.</p>
    
      <p class="v"><strong><br>Historia de los Sistemas Operativos</strong></p>
    
      <p> En los primeros días de los ordenadores, los sistemas operativos, el software que controla las aplicaciones y recursos del sistema,
         no existían. Tampoco existía el software propiamente dicho. Los ordenadores se programaban conectando manualmente circuitos de cálculo
          y cambiando el cableado para cada nuevo cálculo a realizar. Esto cambió en 1945, cuando John Von Neumann inventó un ordenador que 
          almacenaba en memoria instrucciones que indicaban a las unidades de cálculo lo que debía hacer. El 21 de junio de 1948 se ejecutó el primer programa en una máquina llamada Baby en la Universidad de Manchester... y nació el software. </p>

      <p>Sin embargo, los ordenadores seguían ejecutando un único programa cada vez, y los operadores aún tenían que cargar cada programa 
        y sus datos correspondientes en memoria desde cintas o tarjetas perforadas, ejecutar el programa y después repetir todo el proceso 
        para el programa siguiente. Y aunque esto resultaba más rápido que cambiar el cableado, se seguía perdiendo una gran cantidad de 
        tiempo de ordenador.</p>

      <p><strong><br>Cronología de los Sistemas Operativos</strong></p>

      <ul>
        <li>1945: John Von Neumann describió por primera vez un ordenador con programas almacenados.</li>
        <li>1948: Baby, en la Universidad de Manchester, ejecuta el primer programa de software.</li>
        <li>1955: El Centro de Investigaciones de General Motors desarrolla el primer monitor de proceso batch.</li>
        <li>1963: Fernando Corbato dirige en el MIT el desarrollo de CTSS, el primer sistema práctico de tiempo compartido.</li>
        <li>1965: MIT, General Electric y los Laboratorios Bell comienzan a desarrollar el sistema Multics.</li>
        <li>1969: Los programadores de los Laboratorios Bell Ken Thompson y Dennis Ritchie comienzan su trabajo en Unix.</li>
        <li>1976: Digital Research publica CP/M, el primer sistema operativo de amplia utilización para ordenadores personales.</li>
        <li>1981: Aparece el IBM PC, con el sistema operativo PC DOS suministrado por Microsoft.</li>
        <li>1985: Microsoft presenta un interface gráfico de usuario para DOS.</li>
        <li>1987: IBM y Microsoft desarrollan OS/2, un sistema operativo multitarea para PCs.</li>
        <li>1991: El estudiante finlandés Linus Torvalds comienza a trabajar en Linux, con la ayuda de otros programadores en Internet.</li>
        <li>1993: Microsoft fusiona su trabajo en OS/2 con Windows para crear Windows NT.</li>
        <li>1999: IBM presenta su Linux para mainframes.</li>
      </ul>

</div>
</body>
</html>
