<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
   <h2><strong>1.2.1 Definición, características y funciones de los lenguajes de programación.</strong></h2>
   <h3 align="right"><a href="/users/a2"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/a3"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    
    <div class="div-texto">
      <p><img src="/css/images/lenguaje.jpg" alt="" width="336" height="216" align="left"  class="div-img"/>  En términos generales, podemos definirlos como sistemas estructurados de comunicación, que permiten a la persona o programador dar instrucciones específicas a un dispositivo o software, con la finalidad de lograr determinados objetivos. <br><br><br>
      En la actualidad, existe una amplia variedad de lenguajes de programación que todo profesional de Ingeniería en Sistemas y áreas afines debe dominar, como Java, especialmente, Python, Scala y Rust, entre otros. </p><br>
        
      
      <p> Además, estos elementos pueden clasificarse de acuerdo a su finalidad y la clase de herramientas en las que se utilizan. Entre los principales tipos encontramos los siguientes: <br /></p> <br><br>
     
      <p><strong>Características</strong></p>
        <p><strong>Lenguaje máquina</strong></p>
        <p> códigos conocidos como “primitivos”, ya que fueron los primeros en utilizarse y estudiarse. Una vez son registrados e ingresados, permanecen como sistemas de comunicación internos de las máquinas y computadores, que les permiten cumplir con sus funcionalidades.</p>

        <p><strong>Lenguajes de programación de alto nivel</strong></p>
        <p> esta categoría encontramos lenguajes que permiten la interacción entre máquinas y ensambladores y entre softwares y programadores, entre otros. </p>

        <p><strong>Lenguajes de programación de bajo nivel</strong></p>
        <p>Son llamados de esta forma porque resultan más sencillos de interpretar. Además, las instrucciones registradas impactan directamente en el hardware y no en el software, es decir, están dirigidos al funcionamiento de las partes físicas y tangibles de computadores y equipos informáticos. </p> <br><br>

        <p><strong>Funciones de los lenguajes de programación:</strong></p>

        <li> <strong>Programación de páginas web </strong></li>
        <p>Ésta es una de las funciones más importantes de los lenguajes de programación, gracias a lenguajes como Java, hoy Internet es un inmenso universo, con millones de páginas web y sitios que pueden disfrutar distintos tipos de públicos.
        <br>
        Es importante aclarar que, en este ámbito, los lenguajes de programación no están relacionados directamente con el diseño gráfico de los portales y es que estos sistemas no se centran en la identidad visual de las páginas, sino en la funcional.
        <br>
        Todas las ventanas, funcionalidades y elementos multimedia de las web dependen del trabajo de programación por medio de estos lenguajes.
        <br>
        Además del uso de lenguajes, existen otras etapas en el desarrollo de páginas web que son llevadas a cabo por los programadores, como la selección del hosting.</p>
        
        <li> <strong>Desarrollo de aplicaciones móviles </strong></li>
        <p>En la actualidad, las aplicaciones móviles forman parte del día a día de millones de personas en todo el mundo, entre otras cosas, existen apps para llevar el tiempo, programas citas y pendientes, visualizar noticias, escuchar música y comunicarse a distancia.
        <br>
        Para que estas herramientas sean tan funcionales y útiles, primero pasan por un proceso de programación que, por supuesto, utiliza estos sistemas de comunicación.
        <br>
        En concreto, los lenguajes de programación ayudan a desarrollar las funcionalidades y potencialidades de las apps, y a la vez influyen en la interfaz que disfrutará el usuario final, dándole a ésta funcionalidad y dinamismo.</p>

        <li> <strong>Desarrollo de softwares empresariales </strong></li>
        <p>Los lenguajes de programación están presentes en el desarrollo de softwares desde la fase “cero”, cuando se insertan los primeros códigos. Entre los diferentes softwares que se programan con ayuda de estos lenguajes están los dirigidos a las empresas y organizaciones, estos sistemas permiten automatizar procesos de áreas claves como la contabilidad, las finanzas y los inventarios.
         <br>
        También, son especialmente útiles para la recolección de información y datos de interés, lo que impacta positivamente la toma de decisiones, precisamente, los lenguajes de programación permiten darle todos estos valores funcionales a los softwares orientados para el mundo empresarial.
        <br>
        Además, dan instrucciones a los sistemas para que puedan comunicarse e interactuar con otras herramientas, lo cual promueve la modernización general de las organizaciones.</p> 

      
    </div>
</body>
</html>
