<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
   <h2><strong>1.2 Evolución de los lenguajes de programación.</strong></h2>
   <h3 align="right"><a href="/users/a1-2"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/a2-1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">

      <p> En este capítulo se verá cómo surgieron los primeros lenguajes de programación y su evolución a lo largo del tiempo, es importante conocer los diferentes lenguajes de programación que ha habido ya que de los primeros lenguajes se derivan los mas nuevos y si se conocen las bases de estos, los demás serán fáciles de comprender. <br /></p>
     
      <p>A continuación se mostrara una línea de tiempo de los lenguajes de programación:</p>

      <div class="see">
      <p class="div-image"> <img src="/css/images/evolucion.png" alt="linea del tiempo"    width="850" height="850" /></p>
      </div>
    </div>
</body>
</html>