<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
   <h2><strong>1.3.1 Definicion de Intérpretes y Compiladores, Ambiente integral del Lenguaje C.</strong></h2>
   <h3 align="right"><a href="/users/a3"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/unidad2"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    
    <div class="div-texto">
      <p><strong>Interprete</strong></p>
   
      <p> Un intérprete es un programa informático que procesa el código fuente de un proyecto de software durante su tiempo de ejecución, es decir, mientras el software se está ejecutando, y actúa como una interfaz entre ese proyecto y el procesador. Un intérprete siempre procesa el código línea por línea, de modo que lee, analiza y prepara cada secuencia de forma consecutiva para el procesador. Este principio también se aplica a las secuencias recurrentes, que se ejecutan de nuevo cada vez que vuelven a aparecer en el código. Para procesar el código fuente del software, el intérprete recurre a sus propias bibliotecas internas: en cuanto una línea de código fuente se ha traducido a los correspondientes comandos legibles por máquina, esta se envía directamente al procesador. </p>

      <p> El proceso de conversión no finaliza hasta que se ha interpretado todo el código. Solo se interrumpe prematuramente si se produce un fallo durante el procesamiento, lo que simplifica mucho la resolución de los errores, ya que la línea de código problemática se detecta inmediatamente después de ocurrir el fallo. </p>

      <p><strong>Compilador</strong></p>

      <p> Un compilador es un programa informático que traduce todo el código fuente de un proyecto de software a código máquina antes de ejecutarlo. Solo entonces el procesador ejecuta el software, obteniendo todas las instrucciones en código máquina antes de comenzar. De esta manera, el procesador cuenta con todos los componentes necesarios para ejecutar el software, procesar las entradas y generar los resultados. No obstante, en muchos casos, durante el proceso de compilación tiene lugar un paso intermedio fundamental: antes de generar la traducción final en código máquina, la mayoría de los compiladores suelen convertir el código fuente en un código intermedio (también llamado código objeto) que, a menudo, es compatible con diversas plataformas y que, además, también puede ser utilizado por un intérprete.</p>

      <p> Al producir el código, el compilador determina qué instrucciones van a enviarse al procesador y en qué orden. Si las instrucciones no son interdependientes, incluso es posible que puedan procesarse en paralelo. </p>
      <br><br>
      
      <table border="1" cellspacing="0" cellpadding="0">
        <tr>
          <td  width="310" valign="top"><p align="center"><strong></strong></p></td>
          <td width="323" valign="top"><p align="center"><strong>&nbsp;Intérprete</strong></p></td>
          <td width="342" valign="top"><p align="center"><strong>&nbsp;Compilador</strong></p></td>
        </tr>
        <tr>
          <td width="310" valign="center"><p>&nbsp;Momento en que se traduce el código &nbsp;&nbsp;fuente</p></td>
          <td width="323" valign="center"><p>&nbsp;Durante el tiempo de ejecución del &nbsp;&nbsp;&nbsp;software</p></td>
          <td width="342" valign="center"><p>&nbsp;Antes de ejecutar el software</p></td>
        </tr>
        <tr>
          <td width="310" valign="center"><p>&nbsp;Procedimiento de traducción</p></td>
          <td width="323" valign="center"><p>&nbsp;Línea por línea</p></td>
          <td width="342" valign="center"><p>&nbsp;Siempre todo el código</p></td>
        </tr>
        <tr>
          <td width="310" valign="center"><p>&nbsp;Presentación de errores de código</p></td>
          <td width="323" valign="center"><p>&nbsp;Después de cada línea</p></td>
          <td width="342" valign="center"><p>&nbsp;En conjunto, después de toda la compilación</p></td>
        </tr>
        <tr>
          <td width="310" valign="center"><p>&nbsp;Velocidad de traducción</p></td>
          <td width="323" valign="center"><p>&nbsp;Alta</p></td>
          <td width="342" valign="center"><p>&nbsp;Baja</p></td>
        </tr>
        <tr>
          <td width="310" valign="center"><p>&nbsp;Eficiencia de traducción</p></td>
          <td width="323" valign="center"><p>&nbsp;Baja</p></td>
          <td width="342" valign="center"><p>&nbsp;Alta</p></td>
        </tr>
        <tr>
          <td width="310" valign="center"><p>&nbsp;Coste de desarrollo</p></td>
          <td width="123" valign="center"><p>&nbsp;&nbsp;Bajo</p></td>
          <td width="142" valign="center"><p>&nbsp;Alto</p></td>
        </tr>
        <tr>
          <td width="310" valign="center"><p>&nbsp;Lenguajes típicos</p></td>
          <td width="123" valign="center"><p>&nbsp;PHP, Perl, Python, Ruby, BASIC</p></td>
          <td width="142" valign="center"><p>&nbsp;C, C++, Pascal</p></td>
        </tr>
      </table>

       
    </div>
</body>
</html>
