<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
   <h2><strong>1.3 Interpretes, Compiladores.</strong></h2>
   <h3 align="right"><a href="/users/a2-1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/a3-1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    
    <div class="div-texto">

      <p> A la hora de elegir un lenguaje de programación, se debe prestar especial atención a dos cosas: por una parte, el lenguaje debe contar con todos los componentes básicos necesarios para el proyecto de software que se quiera desarrollar. Por la otra, tiene que permitir programar e implementar este proyecto de la manera más sencilla posible. La buena legibilidad y simplicidad del código fuente son fundamentales para garantizar lo segundo, porque estas características no solo facilitan el aprendizaje del lenguaje de programación, sino también, obviamente, su posterior utilización en el día a día. </p>

      <p> En primer lugar, para que el ordenador o el procesador puedan comprender las instrucciones que contiene un programa desarrollado previamente, el código fuente escrito en los lenguajes de programación actuales debe convertirse a un formato legible por máquina. De este procedimiento, dependiendo del lenguaje de programación, se encarga un compilador o un intérprete. ¿Qué son exactamente estos dos programas? Y ¿en qué se diferencian?</p>
      <div class="see">
        <p class="div-image"> <img src="/css/images/compilador.jpg" alt="linea del tiempo"    width="450" height="450" /></p>
      </div>
    </div>
</body>
</html>