
#bd{
    background: #7f8385;
    color: white;
}
.content{
    position: relative;
}
#div-mostrar{
    position: absolute;
   
    width: 30%;
    height: 40%;
    
    top: 55%;
    left: 38%;
}
.btn-mostrar{
    position: relative;
    display: inline-block;
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Roboto Slab', serif;
    
    outline: none;

    padding: 2rem;
    margin: 5rem;
    border-radius: 2rem;
}
.btn-mostrar:hover{
    background-color: #7f8385;
    box-shadow: 0 0 10px #2f2d30, 0 0 40px #252425, 0 0 80px #232224;
    transition-delay: 1s;
}
.btn-mostrar span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2c2c2e);
}
.btn-mostrar:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #252325);
}
.btn-mostrar:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2f2c30);
}
.btn-mostrar:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #353236);
}

.btn-mostrar:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
:root{
    --bg: #1e2345;
    --violet: rgb(161,132, 240);
    --pink: #d60087;
    --turquoise: #2fdabd;
    font-size: 10px;
}