<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>4.1.1 Concepto y forma general.</strong></h2>
    <h3 align="right"><a href="/users/d1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/d1-2"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p><strong> Arreglo unidimensional (Vector): </strong>Es una serie de datos de un mismo tipo que se almacenan en forma de lista. Cada dato 
            almacenado en el vector tiene una posición que nos sirve para acceder al valor del dato, esta posición está representada 
            por un índice. Por ejemplo, tenemos un vector de 3 valores enteros (5,10,15) que se representaría de la siguiente manera:</p>
            <p><strong>Declarar un vector: </strong>Los vectores se declaran como cualquier variable normal, usualmente al inicio del programa o si 
                estamos manejando funciones al inicio de la función. Para declarar un vector se necesitan 3 elementos:</p>
                <ul>
                <li><strong> Tipo de dato:</strong> Refiriéndonos a si los datos que almacenará son reales, caracteres, etc (int, float, char).</li>
                <li><strong>Nombre:</strong> Un identificador con el que podamos señalar al vector.</li>
                <li><strong>Tamaño:</strong> La cantidad de casillas o datos que almacenará.</li>
                </ul>
    </div>
</body>
</html>