<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>4.1 Arreglos unidimensionales.</strong></h2>
    <h3 align="right"><a href="/users/practicas4"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/d1-1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p>El uso de arreglos unidimensionales es algo muy común a la hora de programar, sobre todo cuando ya hablamos de programas 
        de un nivel de complejidad medio a alto; son muy utilizados cuando manejamos bases de datos, o una cantidad de datos muy grandes.
         En este artículo les explicaremos que es un arreglo unidimensional (también llamado “vector”), para que sirve y cómo utilizarlo 
         en lenguaje C.</p>
        
        
        <div class="image"><img src="/css/images/unidi.jpg" width="500" height="100"/></div>

        

        <p> Utilizando el ejemplo de la imagen, el tipo de dato seria “int”, el nombre seria “vector” y el tamaño seria “2”, recordando que los números seria del 0-2, teniendo disponibles 3 casillas. Se declararía de la siguiente manera:
        Código:</p>
        
        <p><strong> int vector[2]; </strong> </p>

        <p> Si queremos agregar valores desde un inicio al vector, al momento de declararlo lo haríamos de la siguiente manera: </p>
        
        <p> Código: </p>
         </div>

         <div class="scroll">
            <pre class="prettyprint linenums:1"><code class="language-c">
            # include &lt;iostream.h&gt;
            int main(void){
              int vector[2] = {5,10,15};
            }
                
            </code></pre></div>
        
        
 
</body>
</html>