<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>4.2.2 Arreglos numéricos y de caracteres.</strong></h2>
    <h3 align="right"><a href="/users/d2-1"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/d3"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        <p>¿Cómo declarar un arreglo bidimensional?: La sintaxis para declarar un arreglo bidimensional es la siguiente:</p>

    <p>Código:</p>
          
<p>tipo_dato nombre_arreglo [tamaño_fila][tamaño_columna];</p>
<p>Donde:</p>
        <ul>
            <li> tipo_dato: Nos referimos al tipo de dato que estaremos manejando en el arreglo, puede ser char, int, float, etc.</li>
            <li>nombre_arreglo: El nombre con el que identificaremos nuestra matriz.</li>
            <li>tamaño_fila: La cantidad de filas que tendrá nuestra matriz.</li>
            <li>tamaño_columna: La cantidad de columnas que tendrá nuestra matriz.</li>
        </ul>
        <p>Por ejemplo, si queremos crear una matriz de 3 filas y 4 columnas de tipo de dato int y con nombre “matriz”, lo haríamos de la siguiente manera:
          Código:</p>
          
        <p>int matriz[3][4];</p>
    <p>Esta matriz tendría 12 espacios para guardar información (3x4), y gráficamente lo veríamos de la siguiente manera:</p>
          <div class="image"><img src="/css/images/matriz2.jpg" width="800" height="100"/></div>
    </div>
    </div>
</body>
</html>