<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
    <h2><strong>4.3 Apuntadores.</strong></h2>
    <h3 align="right"><a href="/users/d2-2"><img src="/css/images/next2.jpg" width="50" height="50" alt="" /></a><a href="/users/d3-1"><img src="/css/images/next.jpg" width="50" height="50" alt="" /></a>&nbsp;&nbsp;</h3>
    <div class="div-texto">
        
        <p> Los apuntadores en C y C++ son una herramienta muy potente de programación que suele causar mucha
        confusión en los estudiantes que la están aprendiendo. Además, cuando los programadores cometen un error
        en su utilización, puede ser muy difícil encontrar el error, por lo cual es importante saber utilizarlos muy
        bien. El uso de apuntadores en C y C++ es muy importante debido a que permite hacer los programas más
        eficientes y más flexibles. En en este artículo se explica de una manera sencilla y breve todo lo referente a la
        utilización de apuntadores tanto en C como en C++. </p>
        <p>Todo lo explicado en este artículo aplica tanto para C como para C++, a menos que se especifique un
        lenguaje en particular. En algunos ejemplos de código que son aplicables a C aparecen instrucciones de
        entrada y salida de las librerías estándar de C++.</p>


        <p><strong> 3. Referenciación </strong></p>
        
        <p> La referenciación es la obtención de la dirección de una variable. En C y C++ esto se hace a través del
        operador '&', aplicado a la variable a la cual se desea saber su dirección. Nótese que se trata de un operador
        unario. <strong> Ejemplo: </strong></p> </div>
        <div class="scroll">
        <pre class="prettyprint linenums:1"><code class="language-c">
            Código C y C++
            int x = 25;
            cout &lt;&lt; "La dirección de x es: " &lt;&lt; &x &lt;&lt; endl;
        </code></pre></div>
        <div class="div-texto">
        <p> Este código imprime un valor del estilo “0x4fffd34”. Este valor puede variar durante cada ejecución del
        programa, debido a que el programa puede reservar distintos espacios de memoria durante cada ejecución. </p>
    </div>
</body>
</html>